<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.ashera.appbarlayout"
        version="1.0">

  <name>CordovaAppBarLayoutPlugin</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>
  
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="CordovaAppBarLayoutPlugin">
        <param name="android-package" value="com.ashera.appbarlayout.CordovaAppBarLayoutPlugin"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>

   	 <!-- start src -->
     <source-file src="android/src/com/ashera/appbarlayout/AppBarLayoutImpl.java" target-dir="src/com/ashera/appbarlayout"/>
     <source-file src="android/src/com/ashera/appbarlayout/AppBarLayoutPlugin.java" target-dir="src/com/ashera/appbarlayout"/>
     <source-file src="android/src/com/ashera/appbarlayout/CordovaAppBarLayoutPlugin.java" target-dir="src/com/ashera/appbarlayout"/>
     <!-- src end -->
     <!-- start res -->

     <!-- res end -->
     <!-- start tsc -->
     <source-file src="android/tsc/src/android/widget/AppBarLayoutImpl.ts" target-dir="tsc/src/android/widget"/>
     <!-- tsc end -->
  </platform>
  <platform name="ios">
    <config-file target="config.xml" parent="/widget">
      <feature name="com.ashera.appbarlayout.ios">
        	<param name="ios-package" value="CordovaAppBarLayoutPlugin" />
         	<param name="onload" value="true" />
      </feature>
    </config-file>

   	 <!-- start ios -->
     <header-file src="ios/ios/src/AppBarLayout.h" target-dir="AppBarLayout/ios/src"/>
     <source-file src="ios/ios/src/AppBarLayout.m" target-dir="AppBarLayout/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/ios/src/AppBarLayoutImpl.h" target-dir="AppBarLayout/ios/src"/>
     <source-file src="ios/ios/src/AppBarLayoutImpl.m" target-dir="AppBarLayout/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/ios/src/AppBarLayoutPlugin.h" target-dir="AppBarLayout/ios/src"/>
     <source-file src="ios/ios/src/AppBarLayoutPlugin.m" target-dir="AppBarLayout/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/ios/src/CordovaAppBarLayoutPlugin.h" target-dir="AppBarLayout/ios/src"/>
     <source-file src="ios/ios/src/CordovaAppBarLayoutPlugin.m" target-dir="AppBarLayout/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/ios/src/HeaderBehavior.h" target-dir="AppBarLayout/ios/src"/>
     <source-file src="ios/ios/src/HeaderBehavior.m" target-dir="AppBarLayout/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/ios/src/HeaderScrollingViewBehavior.h" target-dir="AppBarLayout/ios/src"/>
     <source-file src="ios/ios/src/HeaderScrollingViewBehavior.m" target-dir="AppBarLayout/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/ios/src/ViewOffsetBehavior.h" target-dir="AppBarLayout/ios/src"/>
     <source-file src="ios/ios/src/ViewOffsetBehavior.m" target-dir="AppBarLayout/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <header-file src="ios/ios/src/ViewOffsetHelper.h" target-dir="AppBarLayout/ios/src"/>
     <source-file src="ios/ios/src/ViewOffsetHelper.m" target-dir="AppBarLayout/ios/src" compiler-flags="-fobjc-arc-exceptions"/>
     <!-- ios end -->
     <!-- start tsc -->
     <source-file src="ios/tsc/src/ios/widget/AppBarLayoutImpl.ts" target-dir="tsc/src/ios/widget"/>
     <!-- tsc end -->
  </platform>
  <platform name="browser">
    <config-file target="config.xml" parent="/*">
      <feature name="CordovaAppBarLayoutPlugin">
        <param name="android-package" value="com.ashera.appbarlayout.CordovaAppBarLayoutPlugin"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>
	<framework src="browser/core.gradle" custom="true" type="gradleReference" />
   	 <!-- start src -->
     <!-- src end -->
     <!-- start res -->
     <!-- res end -->
     <!-- start tsc -->
     <source-file src="browser/tsc/src/web/widget/AppBarLayoutImpl.ts" target-dir="tsc/src/web/widget"/>
     <!-- tsc end -->
  </platform>
  <platform name="swt">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="CordovaAppBarLayoutPlugin">
        <param name="android-package" value="com.ashera.appbarlayout.CordovaAppBarLayoutPlugin"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>

   	<framework src="swt/core.gradle" custom="true" type="gradleReference" />
   	
	 <!-- start tsc -->
     <source-file src="swt/tsc/src/swt/widget/AppBarLayoutImpl.ts" target-dir="tsc/src/swt/widget"/>
     <!-- tsc end -->
   	
  </platform>





</plugin>